<h1>Create a new Category</h1>

<form method="post" asp-action="CreateCategory" asp-controller="Category">
    <div class="form-control">
        <label for="Name">Name of your category</label>
        <input type="text" id="Name" name="Name" />
    </div>

    <input type="submit" class="btn btn-primary" value="Submit" />
</form>